In [30]:
import pandas as pd
import numpy as np
import ast
df=pd.read_csv('data_jobs_cleaned.csv')
df_us_job_counts=pd.read_csv('1_data_jobs_location_counts.csv')
df['job_location'] = df['job_location'].str.split(',', expand=True)[0].str.strip()
cities_list=df_us_job_counts['job_location'].tolist()
df_5_cities=df[df['job_location'].isin(cities_list)]
df_5_cities['job_skills']=df_5_cities['job_skills'].apply(lambda x: ast.literal_eval(x) if pd.notna(x) else x)
df_5_cities=df_5_cities[df_5_cities['job_title_short'].str.contains('Analyst')]
df_5_exp=df_5_cities.explode('job_skills')

C:\Users\vbali\AppData\Local\Temp\ipykernel_4992\2193377966.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_5_cities['job_skills']=df_5_cities['job_skills'].apply(lambda x: ast.literal_eval(x) if pd.notna(x) else x)

In [31]:
df_5_exp['job_posted_date']=pd.to_datetime(df_5_exp['job_posted_date'])
df_5_exp['job_posted_month']=df_5_exp['job_posted_date'].dt.month

,job_id,job_title_short,job_title,job_location,job_via,job_schedule_type,job_work_from_home,search_location,job_posted_date,job_no_degree_mention,job_health_insurance,job_country,salary_rate,salary_year_avg,salary_hour_avg,company_name,job_skills,job_type_skills,job_posted_month
60,60,Business Analyst,Business Intelligence Intern,Dallas,via LinkedIn,Full-time,False,"Texas, United States",2023-01-04 13:02:07,False,False,United States,NaN,115000.0,45.98,Copart,r,"{'analyst_tools': ['tableau', 'power bi'], 'pr...",1
60,60,Business Analyst,Business Intelligence Intern,Dallas,via LinkedIn,Full-time,False,"Texas, United States",2023-01-04 13:02:07,False,False,United States,NaN,115000.0,45.98,Copart,python,"{'analyst_tools': ['tableau', 'power bi'], 'pr...",1
60,60,Business Analyst,Business Intelligence Intern,Dallas,via LinkedIn,Full-time,False,"Texas, United States",2023-01-04 13:02:07,False,False,United States,NaN,115000.0,45.98,Copart,sql,"{'analyst_tools': ['tableau', 'power bi'], 'pr...",1
60,60,Business Analyst,Business Intelligence Intern,Dallas,via LinkedIn,Full-time,False,"Texas, United States",2023-01-04 13:02:07,False,False,United States,NaN,115000.0,45.98,Copart,tableau,"{'analyst_tools': ['tableau', 'power bi'], 'pr...",1
60,60,Business Analyst,Business Intelligence Intern,Dallas,via LinkedIn,Full-time,False,"Texas, United States",2023-01-04 13:02:07,False,False,United States,NaN,115000.0,45.98,Copart,power bi,"{'analyst_tools': ['tableau', 'power bi'], 'pr...",1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
507693,784990,Business Analyst,Functional Data BA with Law Department and Leg...,Atlanta,via LinkedIn,Full-time,False,Georgia,2023-09-22 06:47:16,False,False,United States,NaN,115000.0,45.98,Stellent IT,powerpoint,"{'analyst_tools': ['excel', 'powerpoint', 'vis...",9
507693,784990,Business Analyst,Functional Data BA with Law Department and Leg...,Atlanta,via LinkedIn,Full-time,False,Georgia,2023-09-22 06:47:16,False,False,United States,NaN,115000.0,45.98,Stellent IT,visio,"{'analyst_tools': ['excel', 'powerpoint', 'vis...",9
507693,784990,Business Analyst,Functional Data BA with Law Department and Leg...,Atlanta,via LinkedIn,Full-time,False,Georgia,2023-09-22 06:47:16,False,False,United States,NaN,115000.0,45.98,Stellent IT,outlook,"{'analyst_tools': ['excel', 'powerpoint', 'vis...",9
507798,785204,Data Analyst,"Director, Data Quality Analysis",Atlanta,via Trabajo.org,Full-time,False,Georgia,2023-10-10 07:06:04,False,False,United States,NaN,115000.0,45.98,IMG LIVE,NaN,NaN,10
507926,785481,Data Analyst,Legal Operations Data Analyst,Atlanta,via LinkedIn,Full-time,False,Georgia,2023-01-10 06:39:45,False,True,United States,NaN,115000.0,45.98,Latitude Legal,tableau,{'analyst_tools': ['tableau']},1

In [32]:
df_months=df_5_exp.groupby(['job_location', 'job_posted_month']).size()
df_months=df_months.reset_index(name='count', index=True, index_name='Index')